  <!-- footer 頁尾 -->
  <footer>
    <div class="container d-flex justify-content-between border-top">
      <!-- 左側 -->
      <div class="col-2 ">
        <!-- 零食嶼LOGO -->
        <div class="logo mb-4">
          <a href="#">
            <img class="img-fluid" src="/assets/images/LOGO.png" alt="">
          </a>
        </div>

        <!-- 社群媒體 -->
        <ul class="d-flex justify-content-start">
          <li>
            <img class="p-2 me-2" src="/assets/images/Icon/ic_baseline-facebook.svg" alt="ic_baseline-facebook">
          </li>
          <li>
            <img class="p-2" src="/assets/images/Icon/ant-design_instagram-filled.svg"
              alt="ant-design_instagram-filled">
          </li>
        </ul>
      </div>

      <!-- 右側 -->
      <!-- 版權宣告－無營利用途 -->
      <p class="mt-auto col-6">＠此網站僅做 Side Project 作品使用,無營利用途/Copyright© 零食嶼委員會2023.All right reserved.</p>

    </div>
  </footer>