<!-- 背景圖片 -->
<<<<<<< HEAD
<img src="/assets/images/header.png" alt="">
=======
<img class="position-absolute img-fluid z-n1" src="/assets/images/header.png" alt="bg-header-img"> 
>>>>>>> 1881006f42a4a261c39959f2f613f1722ce81e8f
<!-- 導覽列＋留白空間 -->
<div class="container">
  <!-- 導覽列 -->
  <%- include('./layout/navigation'); -%>
</div>