<header class="header">
    <div class="container">
        <!-- 導覽列 -->
        <%- include('./layout/navigation'); -%>
        <!-- 標題 -->
        <div class="header-heading">
            <h1></h1>
            <p></p>
        </div>
        <!-- 小圈圈 -->
        <div class="scroll">
            <p>這是小圈圈</p>
        </div>
    </div>
</header>