<div class="d-flex justify-content-between justify-content-md-center mb-6 mb-lg-9">
    <!-- PC版：LOGO 零食嶼：開始 -->
    <a class="heder-logo-img" href="#">
      <img class="img-fluid" src="/assets/images/LOGO-header.png" alt="LOGO-header">
    </a>  
    <!-- PC版：LOGO 零食嶼：結束 -->
    
    <!-- nav區域 -->
    <nav>
      <!-- Mobile版：導覽列：開始 -->
      <img src="/assets/images/Icon/burger-icon.svg" alt="burger-icon" class="mobile-nav rounded-circle text-bg-light d-md-none">
      <!-- Mobile版：導覽列：結束 -->

      <!-- PC版:nav連結文字:開始 -->
      <ul class="display-4 text-center pd-6 d-none d-md-flex">
        <li class="px-4 py-2 nav-hover ">
          <a class="text-light" href="index.html">首<br>頁</a>
        </li>

        <li class="px-4 py-2 nav-hover">
          <a class="text-light" href="story.html">零<br>食<br>的<br>故<br>事</a>
        </li>

        <li class="px-4 py-2 nav-hover">
          <a class="text-light" href="topic-1.html">零<br>食<br>主<br>題</a>
        </li>

        <li class="px-4 py-2 nav-hover">
          <a class="text-light" href="mag.html">零<br>食<br>誌</a>
        </li>

        <li class="px-4 py-2 nav-hover">
          <a class="text-light" href="coop.html">合<br>作<br>品<br>牌</a>
        </li>

        <li class="px-4 py-2 nav-hover">
          <a class="text-light" href="about-us.html">關<br>於<br>我<br>們</a>
        </li>

        <li class="px-4 py-2 nav-hover">
          <a class="text-light" href="sub.html">訂<br>閱<br>零<br>食<br>嶼</a>
        </li>
      </ul>
       <!-- PC版:nav連結文字:結束 -->
    </nav>
  </div>