<!-- 背景圖片 -->
<img class="position-absolute img-fluid z-n1" src="/assets/images/header.png" alt="bg-header-img"> 
<!-- 導覽列＋留白空間 -->
<div class="container">
  <!-- 導覽列 -->
  <%- include('./layout/navigation'); -%>
</div>