<div class="d-flex justify-content-between justify-content-md-center mb-6 mb-lg-9">
  <!-- PC版：LOGO 零食嶼：開始 -->
  <a class="heder-logo-img" href="#">
    <img class="img-fluid" src="/assets/images/LOGO-header.png" alt="LOGO-header">
  </a>
  <!-- PC版：LOGO 零食嶼：結束 -->

  <!-- nav區域 -->
  <nav>
    <!-- Mobile版：導覽列：開始 -->
    <img src="/assets/images/Icon/burger-icon.svg" alt="burger-icon"
      class="mobile-nav rounded-circle text-bg-light d-md-none">
    <!-- Mobile版：導覽列：結束 -->

    <!-- PC版:nav連結文字:開始 -->
    <ul class="display-4 text-center pd-6 d-none d-md-flex">
      <li>
        <a class="text-light" href="index.html">
          <div class="px-4 h-100 nav-hover">
            首<br>頁
          </div>
        </a>
      </li>

      <li>
        <a class="text-light" href="story.html">
          <div class="px-4 h-100 nav-hover">
            零<br>食<br>的<br>故<br>事
          </div>
        </a>
      </li>

      <li>
        <a class="text-light" href="topic-1.html">
          <div class="px-4 h-100 nav-hover">
            零<br>食<br>主<br>題
          </div>
        </a>
      </li>

      <li>
        <a class="text-light" href="mag.html">
          <div class="px-4 h-100 nav-hover">
            零<br>食<br>誌
          </div>
        </a>
      </li>

      <li>
        <a class="text-light" href="coop.html">
          <div class="px-4 h-100 nav-hover">
            合<br>作<br>品<br>牌
          </div>
        </a>
      </li>

      <li>
        <a class="text-light" href="about-us.html">
          <div class="px-4 h-100 nav-hover">
            關<br>於<br>我<br>們
          </div>
        </a>
      </li>

      <li>
        <a class="text-light" href="sub.html">
          <div class="px-4 h-100 nav-hover">
            訂<br>閱<br>零<br>食<br>嶼
          </div>
        </a>
      </li>
    </ul>
    <!-- PC版:nav連結文字:結束 -->
  </nav>
</div>