<nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
      </a>

      <ul class="nav justify-content-end nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/snack-rain-project/index.html">首頁</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/snack-rain-project/pages/story.html">零食的故事</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/snack-rain-project/pages/topic-1.html">零食主題</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/snack-rain-project/pages/mag.html">零食誌</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/snack-rain-project/pages/coop.html">合作品牌</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/snack-rain-project/pages/about-us.html">關於我們</a>
          </li>  

          <li class="nav-item">
            <a class="nav-link active" href="/snack-rain-project/pages/sub.html">訂閱零食嶼</a>
          </li>
      </ul>
    </div>
  </nav>