

.nav{
    margin-bottom: 30%;
    a{
        writing-mode: vertical-lr;
        letter-spacing: 20px;
        padding: 8px 20px;
    }
}

.sub-link{
    border-radius: 2px;
    border: 1.5px dashed white;
}