.TC-h1-b {
    color: #000;
    /* TC/Heading01/Bold */
    font-family: Noto Sans TC;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    /* 72px */
}

.TC-h3{
    color: #000;
    /* TC/Heading03/Regular */
    font-family: Noto Sans TC;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 48px */
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mt-200 {
    margin-top: 200px;
}

.mb-64 {
    margin-bottom: 64px;
}

.mr-24{
    margin-right: 24px;
}

.fw-600{
    font-weight: 600;
}

.partner-img{
    max-width: 300px;
    height: 300px;
}

.banner{
    color: #000;
    /* TC/Heading03/Bold */
    font-family: Noto Sans TC;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    /* 48px */
    background-color: #053D74;
    padding-top: 64px;
    padding-bottom: 64px;
}

.partner-text{
    background-color: #d1d1d1;
    border-radius: 100px;
    text-align: start;
    /* TC/Heading06/Regular */
    font-family: Noto Sans TC;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 30px */
    padding-top: 64px;
    padding-bottom: 64px;

}
.about-us-content{
    background-color: #f2f2f2;
}

.animated-element {
    width: 300px;
    height: 300px;
    animation: combined-animation 8s ease-in-out infinite;
}

@keyframes combined-animation {
    0% {
        opacity: 1;
        /* 透明度为 0%（完全透明）*/
    }

    50% {
        opacity: 85%;
        /* 透明度为 100%（完全不透明）*/
    }

    100% {
        opacity: 1;
        /* 透明度为 0%（完全透明）*/
    }

    0%,
    100% {
        border-radius: 45% 55% 49% 51% / 46% 49% 51% 54%
    }

    30% {
        border-radius: 41% 59% 58% 42% / 20% 57% 43% 80%
    }

    60% {
        border-radius: 41% 59% 27% 73% / 77% 44% 56% 23%
    }
}
