*{
    // outline: 1px solid orange;
    list-style: none;
}

a{
  text-decoration: none;
}

// header-bg-img
.header-container {
  background-image: url('/assets/images/header.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat; 
}


.header-heading{
  h1{
    line-height: 200%;
    letter-spacing: 20px;
  }
  p{
    line-height: 150%;
    letter-spacing: 1.2px;
    font-size: 24px;
  }
}

.nav-hover{
  &:hover{
    border: 1px dashed white;
  }
}


//零食誌區塊
.rotate-image {
  transform: rotate(10deg); /* 45度角度旋转 */
}

.pos-spacer{
  right: 0rem;
  bottom: 9rem;
}

//成為零食嶼島民
.sub-bg-img{
  width:81rem;
  height:36rem;
  background-image: url(/assets/images/sub.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
  p{
    border: 1px dashed #D9D9D9;
      // 想知道更多零食介紹嗎？
  }
  
}

.sub-pos-1{
  top: 7em;
  left: 0em;
  }

  // 想知道更多零食活動嗎？
  .sub-pos-2{
  left: 7em;
  bottom: 0em;
  }

    // 想知道最新零食潮流嗎？
  .sub-pos-3{
  top:10em;
  right:0em;
  }