*{
    outline: 1px solid orange;
    list-style: none;
}

a{
  text-decoration: none;
}

// header-bg-img
.header-container {
  background-image: url('/assets/images/header.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat; 
}


.header-heading{
  h1{
    line-height: 200%;
    letter-spacing: 20px;
  }
  p{
    line-height: 150%;
    letter-spacing: 1.2px;
    font-size: 24px;
  }
}

.nav-hover{
  &:hover{
    border: 2px dashed white;
  }
}


//零食誌區塊
.rotate-image {
  transform: rotate(10deg); /* 45度角度旋转 */
}

.pos-spacer{
  right: 0rem;
  bottom: 9rem;
}