.sub-list{
    list-style: none;
}

.animated-element {
    width: 300px;
    height: 300px;
    animation: combined-animation 8s ease-in-out infinite;
}

@keyframes combined-animation {
    0% {
        opacity: 1;
        /* 透明度为 0%（完全透明）*/
    }

    50% {
        opacity: 85%;
        /* 透明度为 100%（完全不透明）*/
    }

    100% {
        opacity: 1;
        /* 透明度为 0%（完全透明）*/
    }

    0%,100% {
        border-radius: 45% 55% 49% 51% / 46% 49% 51% 54%
    }

    30% {
        border-radius: 41% 59% 58% 42% / 20% 57% 43% 80%
    }

    60% {
        border-radius: 41% 59% 27% 73% / 77% 44% 56% 23%
    }
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-200 {
    margin-bottom: 200px;
}

.mt-200 {
    margin-top: 200px;
}

.mb-64 {
    margin-bottom: 64px;
}

.mr-24 {
    margin-right: 24px;
}
.TC-h1-b {
    color: #000;
    /* TC/Heading01/Bold */
    font-family: Noto Sans TC;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    /* 72px */
}
.TC-h3-b {
    color: #000;
    /* TC/Heading03/Bold */
    font-family: Noto Sans TC;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    /* 48px */
}