<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>關於我們</title>
</head>
<body>

  <!--缺header-->
  
  <div class="container mx-auto text-center mb-7">
    <h2 class="TC-h1-b mb-4">網站理念</h2>
    <p class="TC-h3">在辦公室肚子餓時，簡單方便的零食給你最快速的"臨時雨"</p>
  </div>
  <div class="text-center banner">
    <p class="">小小的零食帶給你滿滿的幸福</p>
  </div>
  <div class="about-us-content mb-9">
    <div class="container mx-auto">
      <div class="row d-flex flex-wrap flex-md-nowrap justify-content-center align-items-center mb-7">
        <img src="/assets/images/aboutus1.jpg" alt="" class="col-md-6 animated-element mx-md-auto">
        <div class="col-md-6">
          <p class="TC-h3">提供上班族在忙碌的間隙，也能在享受美味的同時，獲得身體所需能量</p>
        </div>
      </div>
      <div class="row d-flex flex-wrap flex-md-nowrap flex-md-row-reverse justify-content-between align-items-center">
        <img src="/assets/images/aboutus2.jpg" alt="" class="col-lg-6 animated-element mx-md-auto">
        <div class="col-md-6">
          <p class="TC-h3">連結上班族雨零食之間的橋樑，提供資訊建議和共享經驗，讓上班族能更加意識到飲食對健康的身心重要性</p>
        </div>
      </div>
    </div>
    <div class="container mb-9">
      <div class="d-flex flex-wrap flex-md-nowrap justify-content-md-end mb-4">
        <div class="d-flex justify-content-center align-items-center">
          <img src="/assets/images/sub.png" alt="" class="col-lg-5 img-fluid">
        </div>
        <div class="partner-text col-lg-7 ">
          <p>小小的櫃子，滿滿的幸福，希望每位上班族，可以好好享受零食</p>
          <p>BY零食嶼共同創辦人<span class="fw-600">浣熊</span></p>
        </div>
      </div>
      <div class="d-flex flex-wrap flex-md-nowrap flex-md-row-reverse justify-content-end mb-4">
        <div class="d-flex justify-content-center align-items-center">
          <img src="/assets/images/sub.png" alt="" class="col-lg-5 img-fluid">
        </div>
        <div class="partner-text col-lg-7">
          <p>讓零食陪伴你們度過，每個努力工作的瞬間。用零食資訊帶給大家滿滿的能量</p>
          <p>BY零食嶼共同創辦人<span class="fw-600">Jackii</span></p>
        </div>
      </div>
      <div class="d-flex flex-wrap flex-md-nowrap justify-content-md-end mb-4">
        <div class="d-flex justify-content-center align-items-center">
          <img src="/assets/images/sub.png" alt="" class="col-lg-5 img-fluid">
        </div>
        <div class="partner-text col-lg-7">
          <p>希望零食嶼能提供每位正在奮鬥的各位，持續前進的動力，朝向夢想的路上，我們都不孤單</p>
          <p>BY零食嶼共同創辦人<span class="fw-600">Stoo</span></p>
        </div>
      </div>
      <div class="d-flex flex-wrap flex-md-nowrap flex-md-row-reverse justify-content-md-end mb-4">
        <div class="d-flex justify-content-center align-items-center">
          <img src="/assets/images/sub.png" alt="" class="col-lg-5 img-fluid">
        </div>
        <div class="partner-text col-lg-7">
          <p>工作會遇到很多事情，希望零食嶼除了提供零食購買的靈感，同時也陪伴每個酸甜苦辣的時光</p>
          <p>BY零食嶼共同創辦人<span class="fw-600">慢慢</span></p>
        </div>
      </div>
  
    </div>
  
  </div>

  <!-- footer 頁尾 -->
  <%- include('./layout/footer'); -%>





  



  <!-- 勿動 JS 區域 -->
  <%- include('./layout/javascript'); -%>
</body>
</html>