<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>零食嶼首頁</title>
</head>

<body>
  <!-- header 頁首-->
  
  <header class="header-container position-relative mb-9 d-flex ">
    <!-- header 上半部＋下半部區塊 -->
    <div class="container text-white">

       <!--  header 上半區域 -->
        <div class="row d-flex justify-content-center mb-9 pb-6">
          <!-- LOGO 零食嶼 -->
          <a class="col-1" href="#">
            <img class="img-fluid heigh" src="/assets/images/LOGO-header.png" alt="LOGO-header">
          </a>  
          
          <!-- nav區域 -->
          <nav class="col-6">
            <!-- nav連結文字 -->
            <ul class="d-flex display-4 text-center pd-6">
              <li class="px-4 py-2 nav-hover">
                <a class="text-light" href="index.html">首<br>頁</a>
              </li>

              <li class="px-4 py-2 nav-hover">
                <a class="text-light" href="story.html">零<br>食<br>的<br>故<br>事</a>
              </li>

              <li class="px-4 py-2 nav-hover">
                <a class="text-light" href="topic-1.html">零<br>食<br>主<br>題</a>
              </li>

              <li class="px-4 py-2 nav-hover">
                <a class="text-light" href="mag.html">零<br>食<br>誌</a>
              </li>

              <li class="px-4 py-2 nav-hover">
                <a class="text-light" href="coop.html">合<br>作<br>品<br>牌</a>
              </li>

              <li class="px-4 py-2 nav-hover">
                <a class="text-light" href="about-us.html">關<br>於<br>我<br>們</a>
              </li>

              <li class="px-4 py-2 nav-hover">
                <a class="text-light" href="sub.html">訂<br>閱<br>零<br>食<br>嶼</a>
              </li>
            </ul>
          </nav>
        </div>

      
        
      <!-- 下半部－標題與小圓圈 -->
      <div class="header align-items-end d-flex justify-content-between">
        <!-- 標題 -->
        <div class="header-heading">
          <h1>小小一口<br>一切美好<br>吃點東西<br>重獲新生</h1>
          <p>Bitty bite, be alright. <br> Get a bite, get a life.</p>
        </div>
        <!-- 小圈圈 -->
        <div>
          <img src="/assets/images/Scroll.png" alt="scroll" class="align-items-end">
        </div>
      </div>
    </div>


  </header>

  <!-- 頁首三個特色位置 -->
  <div class="container mb-9 text-center">
    <!-- 標題區塊 -->
    <div class="mb-7">
      <img class="mb-2" src="/assets/images/brand-text.svg" alt="BRAND">
      <h2 class="display-1 font-weight-bold mb-4">網站特色</h2>
      <p class="fs-6">零食嶼的理念，將分享給每一位零食愛好者！</p>
    </div>

    <!-- 網頁特色區塊 -->
    <ul class="row d-flex justify-content-between list-unstyled ext-center ">
      <li class=" col mx-auto">
        <p class="mb-7">每一口咀嚼，伴隨時光倒流味蕾旅程！</p>
        <img class="img-fluid" src="/assets/images/Ellipse 1.png">
      </li>
      <li class="col mx-auto">
        <img class="mb-7 img-fluid" src="/assets/images/Ellipse 2.png">
        <p>小包分裝小確幸，不礙工作進度，吃完毫無壓力！</p>
      </li>
      <li class=" col mx-auto">
        <p class=" mb-7">忙碌時，零食伴，活力滿載!</p>
        <img class="img-fluid" src="/assets/images/Ellipse 3.png">
      </li>
    </ul>
  </div>


  <!-- 輪播影片 -->
  <div class="3-topic mb-9 ">
    <img src="/assets/images/3topic-1.png" alt="3topic-1" class="ms-auto d-block img-fluid w-30">
  </div>


  <!-- 零食誌 -->
  
    <div class="mag-bg mb-9 py-9 bg-primary ">
      <div class="container ">
        <!-- 零食誌 八月號 綠色乖乖傳說 按鈕 -->
      <h2 class="text-light">零食誌</h2>

      <!-- 月刊圖片位置 -->
      <div class="position-relative">
        <img class="mx-auto d-block rotate-image img-fluid w-50" src="https://fakeimg.pl/250x400/">

        <!-- 月刊標題位置 -->
        <div class="heading-container ms-auto w-25 position-absolute pos-spacer z-3">
        <h3 class="text-black bg-white">
          八月號<br>綠色乖乖傳說
        </h3>
        </div>
        <!-- 月刊摘要位置 -->
        <p class="text-light w-25">據傳只有奶油椰子口味的「乖乖」能當幸運符,讓3C產品、機器不故障當機~科技與信仰的獨特文化!機台放綠色乖乖都市傳說是何時開始的?</p>
      </div>
      
      
      <button class="btn btn-primary">進入零食誌</button>
      </div>
      

    </div>
  


  <!-- 合作品牌 -->
  <div class="container mb-7 text-center">
    <!-- 合作品牌標題 -->
    <div>
      <img class="mb-2" src="/assets/images/brand-text.svg" alt="BRAND">
      <h2 class="display-1 font-weight-bold mb-4">合作品牌</h2>
      <p class="fs-6">零食嶼與許多品牌合作，將最有趣的零食介紹給每一位零食愛好者！</p>
    </div>

    <!-- 合作品牌數字 -->
    <div class="row d-flex">
      <div class="col">
        <div class="d-flex justify-content-center">
          <h3 class="fs-1">1000</h3>
          <div>
            <p class="fs-1">+</p>
          </div>
        </div>
        <p>國際品牌（個）</p>
      </div>
      <div class="col">
        <div class="d-flex justify-content-center">
          <h3 class="fs-1">100</h3>
          <div>
            <p class="fs-1">+</p>
          </div>
        </div>
        <p>在地品牌（個）</p>
      </div>
    </div>
  </div>

  <!-- 合作品牌logo -->
  <ul class="d-flex justify-content-between mb-9 ">
    <li><img class="img-fluid" src="/assets/images/logo1.png"></li>
    <li><img class="img-fluid" src="/assets/images/logo2.png"></li>
    <li><img class="img-fluid" src="/assets/images/logo3.png"></li>
    <li><img class="img-fluid" src="/assets/images/logo4.png"></li>
    <li><img class="img-fluid" src="/assets/images/logo5.png"></li>
    <li><img class="img-fluid" src="/assets/images/logo6.png"></li>
  </ul>


  <!-- 關於我們 -->
  <section class="mb-9 overflow-hidden position-relative">
    <img class="position-absolute z-n1" src="/assets/images/bg-image-about-us.png" alt="bg-image-about-us">
    <div class="container ">
      <img src="https://fakeimg.pl/300/">
      <img src="https://fakeimg.pl/300/">
      <img src="https://fakeimg.pl/300/">
      <img src="https://fakeimg.pl/300/">
    </div>
  </section>

  <!-- 訂閱零食嶼 -->
  <section>
    <!-- 以山形背影圖做定位的其他元件 -->
      <!-- 成為零食嶼島民文字和按鈕 -->
      <div class="container mb-9 text-center sub-bg-img d-flex flex-column justify-content-center position-relative " >

        <!-- 小對話框 -->
        <p class="py-3 px-5 position-absolute sub-pos-1">想知道更多零食介紹嗎？</p>
        <p class="py-3 px-5 position-absolute sub-pos-2">想知道更多零食活動嗎？</p>
        <p class="py-3 px-5 position-absolute sub-pos-3">想知道最新零食潮流嗎？</p>
          
        
        
          <div>
          <!-- 加入我們的png圖 -->
          <img class="mb-2 mx-auto img-fluid" src="/assets/images/join-us.png" alt="join-us">
        
          <!-- 標題 -->
          <h2 class="display-1 font-weight-bold mb-4">
            成為零食嶼島民
          </h2>

          <!-- 按鈕 -->
          <a href="./sub.html"><button class="btn btn-primary">訂閱</button></a>
        
        </div>
      </div>
  </section>

  <!-- footer 頁尾 -->
  <%- include('./layout/footer'); -%>








  <!-- 勿動 JS 區域 -->
  <%- include('./layout/javascript'); -%>
</body>

</html>